/* pt-sans-400(regular) */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans.woff');
  src: local('PT Sans'), local('PTSans-Regular');
  url('../fonts/ptsans.woff2') format('woff2'); /* Super Modern Browsers */
  url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* pt-sans-700(bold) */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansbold.woff');
  src: local('PT Sans Bold'), local('PTSans-Bold');
  url('../fonts/ptsansbold.woff2') format('woff2'); /* Super Modern Browsers */
  url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/*Кастомные свойства*/

:root {
  /*Basic colors*/
  --basic-white: #FFFFFF;
  --basic-background: #F2F2F2;
  --basic-black: #000000;
  --basic-gray: #888888;
  --basic-lightgray: #EEEEEE;
  --lightblue: #81B3D2;
  --popup-gray: #F2F2F2;
  /*button colors*/
  --brown-static: #766357;
  --brown-hover: #604E43;
  --brown-active: #503E33;
  --blue-static: #81B3D2;
  --blue-hover: #669EC0;
  --blue-active: #5496BD;
}

* {
  outline: 1px dashed red;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* Grid */

.page {
  width: 1200px;
  height: 100%;
  align-content: start;
  margin: 0 auto;
  background-color: var(--basic-background);
}

.page-body {
  display: grid;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

/* Main navigation */

.main-header {
  display: flex;
  flex-direction: column;
}

.greetings {
  display: flex;
  flex-direction: column;
  background-image: url("../img/background_photo.png")
}

.welcome {
  margin: 77px 372px 25px 371px;
}

.main-navigation {
  background: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  align-self: center;
}

/*Навигация сайта*/

.site-navigation {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  align-self: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-navigation li {
  padding: 14px 0 16px 0;
  line-height: 26px;
}

.site-navigation a {
  line-height: 26px;
}

.site-navigation .information {
  text-align: start;
  padding-left: 73px;
}

.site-navigation .photo-n-video {
  text-align: start;
}

.site-navigation .state-map {
  text-align: end;
}

.site-navigation .hotels {
  text-align: end;
  padding-right: 72px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--lightblue);
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation .active {
  color: var(--brown-static);
}

.main-reason {
  margin-top: 43px;
}

.main-reason h1 {
  background: var(--basic-white);
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.features .reasons {
  background: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 16px 0 51px 0;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-feature {
  list-style: none;
}

.feature-list .first {
  grid-column: 1 / 4;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-highlighted {
  grid-column: 1 / 2;
  margin-bottom: 0;
  background-color: var(--blue-static);
  padding-top: 47px;
}

.feature-highlighted h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin-top: 0;
  margin-bottom: 25px;
}

.feature-highlighted p {
  color: var(--basic-white);
  font-weight: normal;
  margin: 0;
  line-height: 21px;
}

.feature-highlighted .number {
  margin-bottom: 23px;
}

.sedona-view {
  grid-column: 2 / 3;
}

.feature-list .second {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.devil-bridge {
  grid-column: 1 / 2;
}

.second .feature-highlighted {
  grid-column: 2 / 3;
}

.last-feature {
  margin: 0;
  padding: 47px 0 54px 0;
  color: var(--basic-black);
  background-color: var(--basic-lightgray);
  font-weight: normal;
}

.last-feature h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.last-feature p {
  margin: 0;
}

.last-feature .number {
  margin-bottom: 23px;
}

.feature-list .third {
  grid-column: 1 / 2;
}

.feature-list .fourth {
  grid-column: 2 / 3;
}

.feature-list .fifth {
  grid-column: 3 / 4;
}

.bonus-list {
  grid-column: 1 / 3;
  list-style: none;
  background: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bonus-list h4 {
  font-size: 21px;
  line-height: 21px;
}

.bonus-feature {
  font-weight: normal;
  padding-top: 60px;
  padding-bottom: 81px;
}

.bonus-feature .sandwich {
  margin-bottom: 1px;
}

.bonus-list li:nth-child(2) {
  padding-top: 61px;
}

.bonus-list li:nth-child(3) {
  padding-top: 55px;
}

.bonus-feature h4 {
  margin: 28px 0 25px 0;
}
.bonus-feature p {
  margin: 0;
}

.searching-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searching-block h1 {
  margin: 58px 0;
}

.searching-block p {
  font-weight: normal;
  margin: 0;
}

.searching-block a {
  display: flex;
  justify-content: center;
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 0 30px 0;
  color: var(--basic-white);
  background-color: var(--brown-static);
}

.searching-block a:hover,
.searching-block a:focus {
  background-color: var(--brown-hover);
}
.searching-block a:active {
  background-color: var(--brown-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Фильтр */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  display: grid;
  grid-template-columns: 255px 255px 690px;
  background-image: url("../img/background.jpg")
}

.filter .infrustructure {
  grid-column: 1 / 2;
}

.filter .appartment-type {
  grid-column: 2 / 3;
}

.filter .cost {
  grid-column: 3 / 4;
}

.filter-option label {
  font-weight: normal;
  position: relative;
  display: block;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-input-checkbox::before:hover + label,
.filter-input-checkbox::before:focus + label {
  content: "";
  position: absolute;
  left: -40px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.infrustructure {
  text-align: start;
  padding-left: 72px;
}

.infrustructure h1 {
  margin: 27px 0 24px 0;
}

.infrustructure p {
  margin: 0 0 23px 0;
  padding-left: 40px;
  width: 143px;
}

.infrustructure p:nth-child(3) {
  margin: 0 0 22px 0;
}

.appartment-type {
  text-align: start;
  padding-left: 72px;
}

.appartment-type h1 {
  margin: 27px 0 24px 0;
}

.appartment-type p {
  margin: 0 0 23px 0;
  padding-left: 42px;
  width: 141px;
}

.appartment-type p:nth-child(3) {
  margin: 0 0 22px 0;
}

.cost .container {
  width: 317px;
  margin:0 0 32px 300px;
}

.filter-item {
  margin: 26px 0 0 0;
  padding: 0;
  border: none;
  text-align: start;
}

.range-filter {
  margin-top: 11px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-left: 2px;
}

.range-controls {
  position: relative;
  padding-top: 20px;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.range-controls .bar {
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #ababab;
  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  transform: scale(1.2);
}

.filter-button {
  width: 137px;
  color: var(--basic-white);
  background-color: rgba(0,0,0,0);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 35px 6px 36px;
  cursor: pointer;

}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.price-controls {
  display: grid;
  grid-template-columns: 154px 5px 154px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls label {
  font-weight: normal;
}

.price-controls .min-price {
}

.price-controls input {
  width: 60px;
  padding: 0;
  margin-left: 2px;
  color: var(--basic-white);
  border: none;
  background: rgba(0,0,0,0);
  font-family: inherit;
  font-size: inherit;
}

.separator {
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  margin: 5px 0 5px 3px;
}

/**/

.sort-stripe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--basic-white);
  margin: 0;
  padding: 22px 0;
  border-bottom: 1px solid #E5E5E5;
}

.sort-bar {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 237px 115px 78px 84px 78px;
}

.arrows {
  grid-column: 4 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 73px;
}

.arrows a:hover path,
.arrows a:focus path {
  fill: var(--basic-black);
}

.arrows a:active path{
  fill: var(--blue-static);
}

.dir-up {
  margin-right: 12px;
}
.arrows .active path {
  fill: var(--blue-static);
}

.selection {
  color: var(--basic-white);
}

.selection h1 {
  font-size: 16px;
  line-height: 21px;
}

.selection p {
  font-size: 14px;
  line-height: 21px;
}

a .hotels-visited {
  color: #766357;
}

.sort-bar b {
  font-size: 21px;
  line-height: 26px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 73px;
}

.sort-bar p {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-align: start;
}

.sort-bar a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted var(--lightblue);
}

.sorting-by:hover,
.sorting-by:focus {
  color: var(--lightblue);
  opacity: 1;
}
.sorting-by:active {
  color: var(--basic-black);
  border: none;
}

.sort-bar .active {
  color: var(--lightblue);
  border: none;
}

.hotel-content {
  padding: 0;
  margin: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: 237px 763px 200px;
  background-color: var(--basic-white);
  border-bottom: 1px solid #E5E5E5;
}

.hotel-card h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: start;
}

.hotel-card p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-card .title {
  padding: 24px 0 30px 0;
}

.title h2 {
  width: 240px;
  margin: 0;
}

.type-n-price {
  display: flex;
}

.type-n-price p {
  width: 116px;
  text-align: start;
  margin: 7px 0 15px 0;
}

.hotel-card .picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 29px 30px 73px;
}

.picture img {
  align-self: baseline;
}

.aside-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 29px;
  padding-right: 73px;
  padding-bottom: 30px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #F2F2F2 ;
  width: 110px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 258px;
}

.buttons-wrapper a {
  padding: 3px 0;
}

.detail {
  display: flex;
  justify-content: center;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--blue-static);
}

.detail:hover,
.detail:focus {
  background-color: var(--blue-hover);
}
.detail:active {
  background-color: var(--blue-active);
}

.detail b:active {
  opacity: 0.3;
}

.booking {
  display: flex;
  justify-content: center;
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--brown-static);
}

.booking:hover,
.booking:focus {
  background-color: var(--brown-hover);
}
.booking:active {
  background-color: var(--brown-active);
}

.booking b:active {
  opacity: 0.3;
}

.page-footer {
  width: 951px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.9);
  padding: 23px 138px 21px 111px;
}

.footer-contacts {
  width: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts p {
  margin: 0 43px 9px 42px;
  font-size: 21px;
  width: 166px;
}

.contact-phone {
  color: var(--basic-black);
  font-size: 21px;
  width: 251px;
  margin-bottom: 15px;
}

.contact-phone:hover,
.contact-phone:focus {
  color: var(--lightblue);
}

.contact-phone:active {
  color: var(--basic-black);
}

.footer-social {
  width: 340px;
  display: flex;
  flex-direction: row;
  padding-left: 163px;
}

.social-buttons {
  padding: 13px 0 15px 0;
  margin: 0;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

}

.social-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue-static);
}

.social-buttons a:hover,
.social-buttons a:focus {
  background-color: var(--blue-hover);
}

.social-buttons a:active {
  background-color: var(--blue-active);
}

.social-buttons a:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.copyright {
  width: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
}

.copyright a:hover path,
.copyright a:focus path {
  fill: var(--blue-hover);
}

.copyright a:active path {
  fill: #BDBBBC;
}
