/* pt-sans-400(regular) */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans.woff');
  src: local('PT Sans'), local('PTSans-Regular');
  url('../fonts/ptsans.woff2') format('woff2'); /* Super Modern Browsers */
  url('../fonts/ptsans.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}
/* pt-sans-700(bold) */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansbold.woff');
  src: local('PT Sans Bold'), local('PTSans-Bold');
  url('../fonts/ptsansbold.woff2') format('woff2'); /* Super Modern Browsers */
  url('../fonts/ptsansbold.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/*Кастомные свойства*/

:root {
  /*Basic colors*/
  --basic-white: #FFFFFF;
  --basic-background: #F2F2F2;
  --basic-black: #000000;
  --basic-gray: #888888;
  --basic-lightgray: #EEEEEE;
  --lightblue: #81B3D2;
  --popup-gray: #F2F2F2;
  /*button colors*/
  --brown-static: #766357;
  --brown-hover: #604E43;
  --brown-active: #503E33;
  --blue-static: #81B3D2;
  --blue-hover: #669EC0;
  --blue-active: #5496BD;
}

* {
  outline: 1px dashed red;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* Grid */

.page {
  width: 1200px;
  align-content: start;
  margin: 0 auto;
  background-color: var(--basic-background);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page-body {
  display: grid;
  position: relative;
}

/* Main navigation */

.main-header {
  display: flex;
  flex-direction: column;
}

.greetings {
  display: flex;
  flex-direction: column;
  background-image: url("../img/shape.svg"), url("../img/background_photo.png");
  background-repeat: no-repeat;
  background-position: bottom;

}

.welcome {
  margin: 77px 372px 81px 371px;
}

.main-navigation {
  background: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  align-self: center;
}

.main-header-logo img {
  display: block;
}

/*Навигация сайта*/

.site-navigation {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  align-self: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-navigation li {
  padding: 15px 0 15px 0;
  line-height: 26px;
}

.site-navigation a {
  line-height: 26px;
}

.site-navigation .information {
  text-align: start;
  padding-left: 73px;
}

.site-navigation .photo-n-video {
  text-align: start;
}

.site-navigation .state-map {
  text-align: end;
}

.site-navigation .hotels {
  text-align: end;
  padding-right: 72px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--lightblue);
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation .active {
  color: var(--brown-static);
}

.main-reason {
  margin: 43px 365px;
  font-size: 21px;
  line-height: 26px;
}

.features .reasons {
  background: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0 341px 51px 340px;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-feature {
  list-style: none;
}

.feature-list .first {
  grid-column: 1 / 4;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-highlighted {
  grid-column: 1 / 2;
  margin-bottom: 0;
  background-color: var(--blue-static);
  padding: 47px 49px 54px 49px;
}

.feature-highlighted h3 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin:0 88px 26px 87px;
}

.feature-highlighted p {
  color: var(--basic-white);
  font-weight: normal;
  margin: 0;
  line-height: 21px;
}

.feature-highlighted .number {
  margin:0 100px 25px 100px;
}

.sedona-view {
  grid-column: 2 / 3;
}

.feature-list .second {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.devil-bridge {
  grid-column: 1 / 2;
}

.second .feature-highlighted {
  grid-column: 2 / 3;
  padding: 50px 49px 51px 49px;
}

.second h3 {
  margin: 0 70px 25px 70px;
}

.last-feature {
  margin: 0;
  padding: 48px 0 55px 0;
  color: var(--basic-black);
  background-color: var(--basic-lightgray);
  font-weight: normal;
}

.last-feature h3 {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
}

.last-feature p {
  margin: 0;
}

.last-feature .description {
  line-height: 21px;
}

.last-feature .number {
  margin-bottom: 20px;
}

.feature-list .third {
  grid-column: 1 / 2;
  padding-left: 96px;
  padding-right: 96px;
}

.feature-list .fourth {
  grid-column: 2 / 3;
  padding-left: 70px;
  padding-right: 70px;
}

.fourth h3 {
  margin-right: 79px;
  margin-left: 80px;
}

.feature-list .fifth {
  grid-column: 3 / 4;
  padding-left: 77px;
  padding-right: 77px;
}

.fifth h3 {
  margin-right: 74px;
  margin-left: 74px;
}

.bonus-list {
  grid-column: 1 / 3;
  list-style: none;
  background: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bonus-list h4 {
  font-size: 21px;
  line-height: 21px;
}

.bonus-feature {
  font-weight: normal;
  padding: 60px 73px 81px 73px;
}

.bonus-feature .sandwich {
  margin-bottom: 1px;
}

.bonus-list li:nth-child(2) {
  padding: 61px 52px 82px 51px;
}

.bonus-list li:nth-child(3) {
  padding: 55px 65px 81px 65px;
}

.bonus-feature h4 {
  margin: 22px 0 24px 0;
}
.bonus-feature p {
  margin: 0;
}

.searching-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 58px 383px 78px 382px;
  background-color: var(--basic-white);
}

.searching-block .wrapper {
  width: 435px;
  height: 155px;
}

.searching-block h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
}

.searching-block p {
  font-weight: normal;
  margin: 0;
  padding-bottom: 56px;
}

.searching-block b {
  width: 319px;
}

.searching-block a {
  display: flex;
  justify-content: center;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 124px 30px 125px;
  color: var(--basic-white);
  background-color: var(--brown-static);
}

.searching-block a:hover,
.searching-block a:focus {
  background-color: var(--brown-hover);
}
.searching-block a:active {
  background-color: var(--brown-active);
  color: rgba(255, 255, 255, 0.3);
}

.whole-pop-up {
  position: absolute;
  top: 205px;
}

.pop-up {
  padding: 55px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
}
.pop-up label {
  display: flex;
}

.pop-up p {
  text-align: start;
  padding: 6px 0;
  width: 112px;
  font-weight: bold;
}

.pop-up .arrival-date {
  margin-bottom: 29px;
}

.pop-up .departure-date {
  margin-bottom: 30px;
}

.pop-up input {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.pop-up .date {
  width: 294px;
  background-color: var(--basic-background);
  border: none;
  padding: 6px 0 6px 13px;
}

.pop-up .date:hover {
  background-color: #EBEBEB;
}

.pop-up .date:focus {
  background-color: var(--basic-white);
  border: solid #E5E5E5;
}

.calendar {
  width: 38px;
  background-color: var(--popup-gray);
  background-image: url("../img/icon-calendar.svg");
  background-size: 21px 23px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.calendar:hover {
  background-image: url("../img/icon-calendar-hover.svg");
}

.calendar:active {
  background-image: url("../img/icon-calendar-active.svg");
}

.pop-up .folks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.folks input {
  color: var(--basic-black);
  width: 38px;
  text-align: center;
  background-color: var(--basic-background);
  border: none;
  padding: 6px 0;
}


.folks .plus {
  width: 38px;
  background-color: var(--popup-gray);
  background-image: url("../img/icon-plus.svg");
  background-size: 11px 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.folks .plus:hover {
  background-image: url("../img/icon-plus-hover.svg");
}

.folks .plus:active {
  background-image: url("../img/icon-plus-active.svg");
}

.folks .minus {
  width: 38px;
  background-color: var(--popup-gray);
  background-image: url("../img/icon-minus.svg");
  background-size: 12px 3px;
  background-position: center;
  background-repeat: no-repeat;
}

.folks .minus:hover {
  background-image: url("../img/icon-minus-hover.svg");
}

.folks .minus:active {
  background-image: url("../img/icon-minus-active.svg");
}

.children p {
  padding-left: 49px;
  padding-right: 20px;
  width: 44px;
}

.pop-up-button {
  font-style: normal;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
  width: 458px;
  color: var(--basic-white);
  background-color: var(--blue-static);
  border: none;
  padding: 16px 182px 16px 181px;
}

.pop-up-button:hover,
.pop-up-button:focus {
  background-color: var(--blue-hover);
}

.pop-up-button:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--blue-active);
}

.pop-up ::placeholder {
  color: var(--basic-black);
}

/* Фильтр */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  display: grid;
  grid-template-columns: 255px 255px 690px;
  background-image: url("../img/background.jpg")
}

.filter .infrustructure {
  grid-column: 1 / 2;
}

.filter .appartment-type {
  grid-column: 2 / 3;
}

.filter .cost {
  grid-column: 3 / 4;
}

.filter-option label {
  font-weight: normal;
  position: relative;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/icon-disabled-checkbox-off.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/icon-disabled-checkbox-on.svg");
}

.infrustructure {
  text-align: start;
  padding-left: 72px;
}

.infrustructure h1 {
  margin: 27px 0 24px 0;
}

.infrustructure p {
  margin-bottom: 25px;
  padding-left: 40px;
  width: 143px;
}

.infrustructure p:nth-child(3) {
  margin: 0 0 24px 0;
}

.appartment-type {
  text-align: start;
  padding-left: 70px;
}

.appartment-type h1 {
  margin: 27px 0 24px 0;
}

.appartment-type p {
  margin-bottom: 25px;
  padding-left: 43px;
}

.appartment-type p:nth-child(3) {
  margin-bottom: 25px;
}

.cost .container {
  width: 317px;
  margin:0 0 32px 300px;
}

.filter-item {
  margin: 26px 0 0 0;
  padding: 0;
  border: none;
  text-align: start;
}

.range-filter {
  margin-top: 11px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-left: 2px;
}

.range-controls {
  position: relative;
  padding-top: 20px;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255,255,255,0.3);
}

.range-controls .bar {
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #ababab;
  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  transform: scale(1.2);
}

.filter-button {
  width: 137px;
  color: var(--basic-white);
  background-color: rgba(0,0,0,0);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 36px 6px 35px;
  margin-right: 10px;
  cursor: pointer;

}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.price-controls {
  display: grid;
  grid-template-columns: 154px 5px 154px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-top: 11px;
}

.price-controls label {
  font-weight: normal;
}

.price-controls input {
  width: 130px;
  padding: 0;
  margin-top: 8px;
  margin-left: 4px;
  color: var(--basic-white);
  border: none;
  background: rgba(0,0,0,0);
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  text-transform: uppercase;
}

.price-controls ::placeholder {
  color: var(--basic-white);
}

.separator {
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  margin: 5px 0 5px 3px;
}

.sort-stripe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--basic-white);
  margin: 0;
  padding: 22px 0;
  border-bottom: 1px solid #E5E5E5;
}

.sort-bar {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 237px 115px 81px 81px 78px;
}

.arrows {
  grid-column: 4 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 73px;
}

.arrows a:hover path,
.arrows a:focus path {
  fill: var(--basic-black);
}

.arrows a:active path{
  fill: var(--blue-static);
}

.dir-up {
  margin-right: 12px;
}
.arrows .active path {
  fill: var(--blue-static);
}

.selection {
  color: var(--basic-white);
}

.selection h1 {
  font-size: 16px;
  line-height: 21px;
}

.selection p {
  font-size: 14px;
  line-height: 21px;
}

a .hotels-visited {
  color: #766357;
}

.sort-bar b {
  font-size: 21px;
  line-height: 26px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 73px;
}

.sort-bar p {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-align: start;
  margin: 9px 0 15px 0;
}

.sort-bar a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted var(--lightblue);
}

.sorting-by:hover,
.sorting-by:focus {
  color: var(--lightblue);
  opacity: 1;
}
.sorting-by:active {
  color: var(--basic-black);
  border: none;
}

.sort-bar .active {
  color: var(--lightblue);
  border: none;
}

.hotel-content {
  padding: 0;
  margin: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: 237px 763px 200px;
  background-color: var(--basic-white);
  border-bottom: 1px solid #E5E5E5;
}

.hotel-card h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: start;
}

.hotel-card p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-card .title {
  padding: 25px 0 30px 0;
}

.title h2 {
  margin: 0;
}

.type-n-price {
  display: flex;
}

.type-n-price p {
  width: 116px;
  text-align: start;
  margin: 6px 0 15px 0;
}

.hotel-card .picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 29px 30px 73px;
}

.picture img {
  align-self: baseline;
  object-fit: contain;
}

.aside-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 29px 71px 30px 0px;
}

.stars {
  display: flex;
  justify-content: flex-end;
}

.stars img {
  margin-left: 5px;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #F2F2F2 ;
  width: 110px;
  margin: 25px 0 3px 0;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 258px;
}

.buttons-wrapper a {
  padding: 3px 0;
}

.detail {
  display: flex;
  justify-content: center;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--blue-static);
}

.detail:hover,
.detail:focus {
  background-color: var(--blue-hover);
}
.detail:active {
  background-color: var(--blue-active);
}

.detail b:active {
  opacity: 0.3;
}

.booking {
  display: flex;
  justify-content: center;
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--brown-static);
}

.booking:hover,
.booking:focus {
  background-color: var(--brown-hover);
}
.booking:active {
  background-color: var(--brown-active);
}

.booking b:active {
  opacity: 0.3;
}

.map {
  align-content: end;
  height: 594px;
}

.map img {
  display: block;
}

.main-footer {
  position: absolute;
  bottom: 0;
}

.page-footer {
  width: 951px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.9);
  padding: 23px 138px 21px 111px;
}

.footer-contacts {
  width: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts p {
  margin: 0 43px 9px 42px;
  font-size: 21px;
  width: 166px;
}

.contact-phone {
  color: var(--basic-black);
  font-size: 21px;
  width: 251px;
  margin-bottom: 15px;
}

.contact-phone:hover,
.contact-phone:focus {
  color: var(--lightblue);
}

.contact-phone:active {
  color: var(--basic-black);
}

.footer-social {
  width: 340px;
  display: flex;
  flex-direction: row;
  padding-left: 163px;
}

.social-buttons {
  padding: 13px 0 15px 0;
  margin: 0;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

}

.social-buttons a {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: var(--blue-static);
}

.social-buttons a:hover,
.social-buttons a:focus {
  background-color: var(--blue-hover);
}

.social-buttons a:active {
  background-color: var(--blue-active);
}

.social-buttons .twitter {
  background-image: url("../img/icon-twitter.svg");
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-buttons .twitter:active {
  background-image: url("../img/icon-twitter-active.svg");
}

.social-buttons .fb {
  background-image: url("../img/icon-fb.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-buttons .fb:active {
  background-image: url("../img/icon-fb-active.svg");
}

.social-buttons .youtube {
  background-image: url("../img/icon-youtube.svg");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-buttons .youtube:active {
  background-image: url("../img/icon-youtube-active.svg");
}

.copyright {
  width: 197px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
}

.htmlacademy {
  width: 115px;
  height: 41px;
  margin-bottom: 5px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-size: 115px 41px;
  background-repeat: no-repeat;
  background-position: center;
}

.htmlacademy:hover {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.htmlacademy:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}
